*.txt
*.pdf
*.log
*.csv
*.xlsx
*.docx
*.pptx
*.zip
*.tar.gz
*.exe
*.dll
*.so
*.dmg
*.iso
*.bin
*.apk
*.app
*.psd
*.ai
*.indd
*.wandb
*.vscode
*.DS_Store
*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.env.*.local
*.cache
*.tmp
*.bak
*.tsv
*.cpython
*.ipyc
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
wandb/*
*.json
*.pt
*.pkl
*.png
*.fa
*.fasta
*.fastq
*.bam
*.sam
*.vcf
*.bed
*.gff
*.gtf
*.fai
*.bai
*.pdb
*.sdf
*.mol
*.smi
*.dat
*.pyc
__pycache__/
*wandb/
wandb/*
wandb/*/*
wandb
latest_run
debug-internal.log
debug.log
logs/
tmp/*
tmp
* copy*
*.txt
.DS_Store
*.sst
*.sb
*.ckpt
*.pd
*.st
*.pth
*.pb

.DS_Store
